{% extends "base.html" %}
{% load static %}

{% block title %}
	Add Venue
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/add-venue.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        {% if submitted %}
            <div class="alert-success">
                <h2>Venue has added to the database successfully!</h2>
            </div>

        {% else %}

        {% if form.errors %}
            <div class="alert-error">
                <h1>Something went wrong during saving data!</h1>
                <p>check the form and submit your information again</p>
            </div>
        {% endif %}

        <section id="venue-form">
            <h1>Add Venue to the database</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="venue-form-control {% if field.errors %}errors{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}

                <button>submit</button>
            </form>

        </section>
        {% endif %}




    {% else %}
        <section id="login-alert">
            <h1>Sorry! You must be logged in to view this page...</h1>
            <a href="{% url "login" %}">Log in</a>
        </section>
    {% endif %}
{% endblock %}