{% extends 'base.html' %}
{% load static %}

{% block title %}
	Venues
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/all-venues.css' %}">
{% endblock %}

{% block content %}
    <section id="venue-list">
        <h1>Venues....</h1>
        <ul>
            {% for venue in venues %}
            	<li>
                    <a class="venue-title" href="{% url 'detail_venue' venue.id %}">{{ venue }}</a>
                    <a class="update-venue" href="{% url 'update-venue' venue.id %}">Update</a>
                    <a class="delete-venue" href="{% url 'delete-venue' venue.id %}">Delete</a>
                </li>
            {% endfor %}

        </ul>
    </section>
{% endblock %}