{% extends 'base.html' %}
{% load static %}

{% block title %}
	Update Event
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/update-event.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}




    {% if submitted %}
        <div class="alert-success">
            <h2>Event has Updated successfully!</h2>
        </div>
    {% else %}
        {% if form.errors %}
            <div class="alert-error">
                <h1>Something went wrong during updating!</h1>
                <p>check the form and submit your information again</p>
            </div>
        {% endif %}

    <section id="venue-form">
        {% if user == event.manager %}
        <h1>Update Event</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="venue-form-control {% if field.errors %}errors{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}

                <button>Update</button>
            </form>
        {% else %}
            <h1>Access Denied</h1>
            <p>Only the event's manager can update this event</p>

            <h2>Logged in as {{ user }}</h2>
            <h2>This event's manager is {{ event.manager }}</h2>
        {% endif %}

        </section>
    {% endif %}




    {% else %}
        <section id="login-alert">
            <h1>Sorry! You must be logged in to view this page...</h1>
            <a href="{% url "login" %}">Log in</a>
        </section>
    {% endif %}
{% endblock %}
