#venue-list {
    margin: 8rem auto 3rem auto;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
    padding: 1rem;
}

#venue-list h1{
    padding-left: 1rem;
    text-align: center;
}

#venue-list ul{
    list-style: none;
    padding: 0;
}

#venue-list li{
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
}

ul a{
  border-radius: 12px;
  /*display: block;*/
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.venue-title{
    flex-grow: 1;
    color: #14181f;
}

.update-venue, .delete-venue{

    border-left: 1px solid #ccc;
}

.update-venue{
    color: #14181f;
}

.delete-venue{
    color: #a40000;
}

.venue-title:hover,
.venue-title:active {
    background-color: #14181f;
    color: white;
}


.update-venue:hover,
.update-venue:active {
    background-color: #ff3d00;
    color: white;
}

.delete-venue:hover,
.delete-venue:active {
    background-color: #a40000;
    color: white;
}

#pagination {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

#pagination li{
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    margin-right: 0;
    border-radius: 6px;
}


#pagination a{
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 6px;
}

#pagination a:active,
#pagination a:hover{
    background-color: #ccc;
}


#pagination p{
    padding: 0.5rem;
    display: inline;
}

#download-file a{
    border: 1px solid #ccc;
    color: black;
    border-radius: 16px;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    /*font-weight: bold;*/

}


.text:hover,
.text:active{
    background-color: #003085;
    color: white !important;
    border-color: #003085 !important;
}

.csv:hover,
.csv:active{
    background-color: #107c41;
    color: white !important;
    border-color: #107c41 !important;
}

.pdf:hover,
.pdf:active{
    background-color: #b30b00;
    color: white !important;
    border-color: #b30b00 !important;
}

