#venue-list {
    margin: 8rem auto 3rem auto;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
    padding: 1rem;
}

#venue-list h1{
    padding-left: 1rem;
    text-align: center;
}

#venue-list ul{
    list-style: none;
    padding: 0;
}

#venue-list li{
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
}

#venue-list a{
  border-radius: 12px;
  /*display: block;*/
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
}

#venue-list .venue-title{
    flex-grow: 1;
    color: #14181f;
}

#venue-list .update-venue{
    color: #14181f;
}

#venue-list .venue-title:hover,
#venue-list .venue-title:active {
    background-color: #14181f;
    color: white;
}


#venue-list .update-venue:hover,
#venue-list .update-venue:active {
    background-color: #ff3d00;
    color: white;
}

