#all-events {
    margin: 8rem auto 3rem auto;
    width: 90%;
    max-width: 80rem;

}

#all-events h1{
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

#all-events ul{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 6px;
    padding: 2rem 4rem;
}

#all-events li{
    list-style: none;

}

/*.update-event{*/
/*    margin-top: 1rem;*/
/*    text-align: center;*/
/*    max-width: 8rem;*/
/*    text-decoration: none;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 6px;*/
/*}*/

.update-event{
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 8rem;
}

.update-event a{
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.update-event:hover,
.update-event:active {
    background-color: #ff3d00;
    color: white;
}


.date {
    font-weight: bold;
}