{#<h1><a href="{% url "home" %}">My Club</a></h1>#}
{##}
{#    <a href="{% url "all_events" %}">Events</a>    #}
{#    <a href="{% url "add_venue" %}">Add Venue</a>    #}
{#    <a href="{% url "list_venues" %}">Venues</a>    #}

<nav id="main-navigation">
     <div class="menu-icon">
        <span class="fas fa-bars"></span>
     </div>
     <div class="logo">
        <a href="{% url "home" %}">My Club</a>
     </div>
     <div class="nav-items">
        <li><a href="{% url "all_events" %}">Events</a></li>
        <li><a href="{% url "add_venue" %}">Add Venue</a></li>
        <li><a href="{% url "list_venues" %}">Venues</a></li>
        <li><a href="{% url "add-event" %}">Add Event</a></li>
        <li><a href="{% url "venue-text" %}">Venue Text File</a></li>
        <li><a href="{% url "venue-csv" %}">Venue csv File</a></li>
        <li><a href="{% url "venue-pdf" %}">Venue pdf File</a></li>
        <li><a href="{% url "login-user" %}">login</a></li>
     </div>
     <div class="search-icon">
        <span class="fas fa-search"></span>
     </div>
     <div class="cancel-icon">
        <span class="fas fa-times"></span>
     </div>
     <form action="{% url "search-venues" %}" method="POST">
         {% csrf_token %}
        <input type="search" class="search-data" placeholder="Search Venues" required name="search_input">
        <button type="submit" class="fas fa-search"></button>
     </form>
  </nav>
